:root{
    --primary-color: coral;
    --btn-text-primary: antiquewhite;
}
.bg-primary{
    background-color: var(--primary-color) !important;
}
.btn-text{
    color: var(--btn-text-primary);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body {
    /* background-image: url('../src/assets/bowl.jpg'); */
    background: whitesmoke;
    width: 100%;
}

.home-header {
    height: 200px;
    background-color: rgba(0.1,0,0,.3);
    background-blend-mode: color;
}

.signin {
    /* background: rgb(223, 210, 210); */
    /* border: rgb(126, 118, 126) 2px solid; */
    padding: .2rem 1rem;
    border-radius: 8px 0 0 8px;
}

.signin>* {
    text-decoration: none;
    color: antiquewhite;
    border: none;
    background: transparent;
    padding: 0 6px;
}
.steps {
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    /* margin-top: 1rem; */
}
.step {
    margin: 0.5rem 3rem;
    display: flex;
    color: #ccc;
}

.step div:first-of-type{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 100%;
    padding-top: 5%;
}
.step div:last-child{
    margin-top: 3%;
}

h2 {
    text-align: center;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}

#login {
    position: fixed;
    top: 0;
    left: 1rem;
    right: .6rem;
    z-index: 9;
    transition: 1s ease;
}

.reg {
    position: fixed;
    z-index: 5;
}

.reg-form {
    padding: .5rem;
}

.form-margin {
    margin: 1.2rem;
}

.show {
    transform: translateY(-100%);
    transition: .2s ease;
}

.login-page {
    margin: auto;
    background: rgba(94, 92, 94, 0.555);
    width: 50%;
    padding: 1.2rem 1rem 1rem;
    /* margin-top: 10%; */
}

.login-header {
    padding: 1.2rem 5%;
    background: rgb(32, 32, 32);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid coral;
}

.nav-btn {
    padding: .3rem .6rem;
    color: blanchedalmond;
    background: rgba(49, 49, 49, 0.4);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 8px;
    cursor: pointer;
}

.close-btn {
    border: none;
    text-decoration: solid;
    font-weight: bold;
}

#detail-header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 140px auto;
    background: white;
    box-shadow: 0 2px 3px rgba(26, 25, 25, 0.8);
    text-transform: capitalize;
}

.detail-img {
    height: 100%;
    box-shadow: 2px 0 4px gray;
}

.detail-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#description {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 16px;
    margin: 1rem;
    padding: 1rem;
}

#contact-details {
    border: 1px solid gray;
    border-radius: 16px;
    margin: auto;
    padding: .2rem .4rem;
}

.add-form {
    border: 0 solid whitesmoke;
    border-radius: 16px;
    padding: .5rem;
    box-shadow: 0 4px 8px 0 rgba(126, 126, 126, 0.2),
        0 6px 20px 0 rgba(82, 81, 81, 0.19);
}

#profile {
    position: fixed;
    height: 100%;
    padding: 10% 30% 0;
    left: 0;
    right: 0;
    top: 0;
}

.profile-content {
    padding: .5rem;
    width: 50%;
    max-width: 600px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    width: 50%;
    height: fit-content;
    padding: 1.4rem .8rem;
    background: whitesmoke;
}

.btns-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.cancelbtn,
.deletebtn {
    width: 45%;
    font-size: 1.2rem;
    border: none;
    opacity: .9;
    padding: .4rem 0;
}

.cancelbtn {
    background-color: #ccc;
    color: black;
}

.deletebtn {
    background-color: #f44336;
}

#input-img:hover {
    background: rgba(0, 0, 0, 0.24);
}

.notification-container {
    position: fixed;
    background: whitesmoke;
    border-radius: 9px;
    z-index: 3;
    left: 15px;
    bottom: 0;
    transform: translateY(100%);
    transition: 500ms ease-in-out;
}

.notification,
.notification-failed {
    border-radius: 8px;
    padding: .4rem 1rem;
}

.notification {
    border: 2px solid green;
}

.notification-failed {
    border: 2px solid red;
}

.show-notification {
    bottom: 10px;
    transform: translateY(0);
}

.card-body {
    text-transform: capitalize;
}

.card-text {
    margin-bottom: 8px;
}

footer {
    border: 2px solid rgb(4, 182, 226);
    background-color: white;
    padding: .6rem;
    margin-top: 1.4rem;
}

@media (min-width: 920px) {
    .reg-form {
        max-width: 860px;
    }
}

@media (max-width: 760px) {
    .home-header {
        height: 165px;
    }

    .row>* {
        flex-shrink: initial;
    }

    .card {
        display: block;
    }

    .mobi-search {
        display: block;
    }

    .mobi-search :first-child {
        margin-bottom: .4rem;
    }

    .mobi-search .col-2 {
        width: initial;
        margin-bottom: .4rem;
    }

    #profile {
        padding: 0;
    }

    .profile-content {
        width: fit-content;
    }

    .login-page {
        width: 80%;
    }

    #detail-header {
        display: block;
    }

    .detail-img {
        height: 25vh;
    }

    .detail-img img {
        object-fit: cover;
    }

    #description {
        flex-direction: column-reverse;
    }

    #contact-details {
        margin-bottom: .5rem;
    }

    .add-review .form-group {
        width: initial;
    }

    #login {
        left: 0;
        right: 0;
    }

    #login .row {
        --bs-gutter-x: 0;
        display: initial;
    }

    #login .col {
        margin-top: .4rem;
    }
}

@media (max-width:480px) {
    .home-header {
        height: 160px;
    }

    .login-page {
        width: 95%;
    }
}

@media (max-width:400px) {
    footer h4 {
        font-size: 1.2rem;
    }
}

@media (max-width:316px) {
    .home-header {
        height: 200px;
    }
}

@media (max-width:390px) {
    .profile-content .form-margin:nth-child(7) {
        margin: 0 1rem;
    }
}

@media (max-width:340px) {
    .profile-content .form-margin {
        margin: 1rem;
    }
}